body{background-color: #E4E8E8;}

.navbar{max-height: :50px;}

.navigation .navbar-brand{
    color: white;
    margin-left: 25px;
    padding: inherit;
    font-weight: bold;
    background-color: #5DBEBA;
}

.navbar{
    background-color: white; 
    font-family: 'Times New Roman';
    font-size: 15px;}

.active, .dropdown-menu .dropdown-item:active a:hover{
    background-color:#E7E7E7; 
}


img{
    width:100%;
    height:100%;
  }

.vizualization{
    width:50%;
    height:50%;
}

.title{
    color: #0BADA6;  
    font-family: 'Times New Roman';
    font-weight: bolder; 
    padding-top: 25px; 
  }

p{
    color: #6D8092;
    font-family: Arial;
    font-size: 15px; 
}

.box {
    margin-top: 60px; 
    margin-bottom: 62px; 
    padding: 15px 20px 20px; 
    background-color: white; 
  }

footer{
    background-color: #6B6E6E; 
    border-top-style: solid; 
    border-top-width: 5px; 
    border-top-color: #5DBEBA;
    color: white; 
    min-height: 55px; 
    font-family: Arial;
    font-size: 15px; 
    text-align: center; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 15px; 
}

@media(max-width: 992px){
    .navbar-expand-lg{
    background-color: #5DBEBA;
    }
    .navbar{
      max-height: none; 
      padding: inherit;
    }
    .navbar div{
      margin: inherit; 
      background-color: white;  
    }
    .navbar-brand{
      padding: 10px; 
    }
    
    button{
      margin-right: 30px; 
    }
    }
    © 2020 GitHub